.holtelitem .imge {
    height: 60%;
    width: 100%;
    border-radius: 10px;
}

.holtelitem .cten {
    line-height: 2.5;
}

.holtelitem .cten .price {
    font-weight: 700;
}

.holtelitem .cten .rate {
    padding: 2px;
    background-color: blue;
    color: white;
    font-weight: 700;
    margin-right: 10px;
}