.divcontenttype {
    padding: 0px 30px;
    padding-bottom: 20px;
}

.divcontenttype h2 {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.contenttype {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    column-gap: 10px;

    margin-left: 10%;
    margin-right: 10%;
}